<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDoyCAFtdExKQAR2CCOJzKQaapE1OkqrTk</string>
	<key>GCM_SENDER_ID</key>
	<string>769990493632</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.trainerApp</string>
	<key>PROJECT_ID</key>
	<string>trainer-app-25b10</string>
	<key>STORAGE_BUCKET</key>
	<string>trainer-app-25b10.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:769990493632:ios:0997e62d595b177927b425</string>
</dict>
</plist>